.card-body {
  border: solid orange 2px;
  width: 100%;
  background-color: beige;
  opacity: 100%;
  color: purple;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid orange 3px;
  margin: 2vw;
  width: 300px;
  padding-top: 25px;
  background-color: purple;
}

.card-img-top {
  height: auto;
  width: auto;
}
