.card-body {
  border: solid #f2b90c 2px;
  width: 100%;
  background-color: #f2f2f2;
  opacity: 100%;
  color: #514ea6;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #f2f2f2 3px;
  margin: 0 auto;
  margin-bottom: auto;
  margin-top: 20px;
  padding: 30px;
  width: 300px;
  padding-top: 25px;
  background-color: #f2b90c;
}

.card-img-top {
  height: 10em;
  width: auto;
}
