.about {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0vqRNgVsvYO24CnJuuzW5Zk4DeOHwU71BrQ&usqp=CAU);
  background-size: auto;
  background-color: rgb(81, 78, 166);
  background-blend-mode: overlay;
  width: 30em;
  height: auto;
  color: rgb(4, 245, 173);
  padding: 30px;
  border: 4px solid yellow;
  border-radius: 25px;
  font-weight: 750;
  margin-bottom: 5%;
  background-position: center;
}
