.contain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: url(http://st2.depositphotos.com/5532432/11309/v/450/depositphotos_113098242-Animal-Avatars-Flat-Vector-Icons-3.jpg);
  /* background-color: pink; */
  background: rgb(242, 92, 132);
  background: linear-gradient(
    90deg,
    rgba(242, 92, 132, 1) 0%,
    rgba(81, 78, 166, 1) 100%
  );
  background-blend-mode: overlay;
  height: 100vh;
  width: 100%;
  background-size: auto;
  padding-top: 10vh;
}

.container {
  display: flex;
  justify-content: space-between;
}
