.contain {
  display: flex;
  justify-content: center;
  flex-direction: row;

  background: rgb(242, 92, 132);
  background: linear-gradient(
    90deg,
    rgba(242, 92, 132, 1) 0%,
    rgba(81, 78, 166, 1) 100%
  );
  background-blend-mode: overlay;

  padding-top: 10vh;
  padding-bottom: 20vh;
}

.container {
  display: flex;
  justify-content: space-between;
}
