.loginStyle {
  border: #f2b90c solid 3px;
  margin: 0 auto;
  margin-bottom: auto;
  margin-top: 20px;
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/096/013/original/vector-cute-animal-avatars.jpg);
  background-blend-mode: screen;
  background-color: rgb(81, 78, 166);
  background: linear-gradient(
    90deg,
    rgba(81, 78, 166, 1) 0%,
    rgba(34, 193, 195, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  color: #514ea6;
  font-weight: 1000;
  border-radius: 25px;
  padding: 2em;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}

.welcome {
  font-weight: 1000;
  text-shadow: 2px 2px 5px black;
  text-transform: uppercase;
}

.loginLogo {
  width: 100px;
  height: auto;
  padding: 1em;
}

.loginForm {
  padding: 1em;
  color: white;
  display: flex;
  flex-direction: column;
}

.logLabel {
  color: #514ea6;
  font-weight: 1000;
  text-transform: uppercase;
}

.logInput {
  margin-bottom: 1em;
  border: solid 1px #514ea6;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-color: lightyellow;

  color: purple;
  font-weight: 500;
}

.logButton {
  color: rgba(252, 176, 69, 1);
  background: linear-gradient(
    90deg,
    rgba(242, 92, 132, 1) 0%,
    rgba(81, 78, 166, 1) 100%
  );
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
  font-weight: 1000;
  text-transform: uppercase;
}

.logButton:hover {
  border: 2px solid rgba(252, 176, 69, 1);
}
