.outbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #4bbfb4 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: auto;
  margin-top: -20px;
  padding: 50px;
  width: auto;
  height: auto;

  background-color: #f2b90c;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}

.FindNew {
  width: 200px;
  color: rgba(252, 176, 69, 1);
  background: linear-gradient(
    90deg,
    rgba(242, 92, 132, 1) 0%,
    rgba(81, 78, 166, 1) 100%
  );
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
  font-weight: 1000;
  text-transform: uppercase;
  width: 200px;
  border-radius: 25px;
}
.form-control {
  width: 100%;
}

.popup_open {
  height: 100px;
  width: auto;
  color: purple;
  background-color: rgba(252, 176, 69, 1);
  font-size: 20px;
}

.selectAnimal {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.aniContain {
  margin: 10px;
  margin-bottom: 30px;
}

.delivery {
  margin: 2px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: solid 5px rgba(81, 78, 166, 1);
  padding: 10px;
  color: rgba(252, 176, 69, 1);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(81, 78, 166, 1) 100%
  );
  box-shadow: 0px 15px 26px rgba(242, 92, 132, 1);
  transition: all 300ms ease;
  font-weight: 1000;
  text-transform: uppercase;
}

.rowAlign {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.delivery:hover {
  border: 5px solid rgba(242, 92, 132, 1);
  -webkit-animation: welcome 1s ease;
  animation: welcome 1s ease;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
}

.delivery:active {
  -webkit-animation: welcome 1s ease;
  animation: welcome 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.composeForm {
  width: 100%;
  padding: 20px;
}

.col-form-label {
  color: rgb(81, 78, 166);
  height: auto;
  font-weight: 700;
}

.form-control {
  border: 2px solid #4bbfb4;
}

.welcomeOutBox {
  font-weight: 1000;
  text-shadow: 2px 2px 5px rgba(242, 92, 132, 1);
  text-transform: uppercase;
  color: #514ea6;
}
